<div class="container-fluid h-100">
    <div class="row d-flex justify-content-center align-items-center h-100 p-5">
        <div>
            <div class="card">
                <div class="card card-body">
                    <div class="text-center">
                        <p>Sign Up</p>
                    </div>
                    <form [formGroup]="signUpForm" autocomplete="on" (ngSubmit)="onSubmit()">
                        <div class="form-group m-2">
                            <label class="mb-2" for="firstName">First Name</label>
                            <input class="form-control"  type="text" id="firstName" placeholder="Enter First Name"  formControlName="firstName"/>
                        </div>
                        <div class="form-group m-2">
                            <label class="mb-2" for="lastName">Last Name</label>
                            <input class="form-control"  type="text" id="lastName" placeholder="Enter Last Name"  formControlName="lastName"/>
                        </div>
                        <div class="form-group m-2">
                            <label class="mb-2" for="email">Email</label>
                            <input class="form-control"  type="email" id="email" placeholder="Enter Email"  formControlName="email"/>
                        </div>
                        <div class="form-group m-2">
                            <label class="mb-2" for="address">Address</label>
                            <input class="form-control"  type="text" id="address" placeholder="Enter Address"  formControlName="address"/>
                        </div>
                        <div class="form-group m-2">
                            <label class="mb-2" for="role">Role</label>
                            <input class="form-control"  type="text" id="role" placeholder="Enter Role"  formControlName="role"/>
                        </div>
                        <div class="form-group m-2">
                            <label class="mb-2" for="phoneNumber">Phone number</label>
                            <input class="form-control"  type="text" id="phoneNumber" placeholder="Enter Phone Number"  formControlName="phoneNumber"/>
                        </div>
                        <div class="form-group m-2">
                            <label class="mb-2" for="gender">Gender</label>
                            <input class="form-control"  type="text" id="gender" placeholder="Enter Gender"  formControlName="gender"/>
                        </div>
                        <div class="form-group m-2">
                            <label class="mb-2" for="password">Password</label>
                            <input class="form-control"  type="password" id="password" placeholder="Enter Password"  formControlName="password"/>
                        </div>
                        <div class="form-group m-2">
                            <label class="mb-2" for="confirmPassword">Confirm Password</label>
                            <input class="form-control"  type="password" id="confirmPassword" placeholder="Confirm Password"  formControlName="confirmPassword"/>
                        </div>
                        <div class="m-2" class="text-center">
                            <button class="btn btn-primary m-2" type="submit">Submit</button>
                        </div>
                    </form>
                    <div class="m-2" class="text-center">
                        <a routerLink="/auth/sign-in"><u>Click Here to Sign In</u></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>