<div class="container-fluid h-100">
    <div>
        <div class="card">
            <div class="card-body">
                <!-- To confirm Email -->
                <div class="text-center" *ngIf="!isVerifiedEmail">
                    <p>Please Enter 6 digit OTP received in your email to verify.</p>
                    <div class="d-flex justify-content-center align-items-center">
                        <form [formGroup]="confirmEmailForm"  autocomplete="off" class="mt-3" (ngSubmit)="onSubmit()">
                            <div class="m-1">
                                <input type="text" formControlName="otp">
                            </div>
                            <div class="m-3">
                                <button class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                </div> {{username}}
                <!-- Confirm Email Success -->
                <div class="text-center" *ngIf="isVerifiedEmail">
                    <i class="bi bi-check2-circle circle-check-sty"></i>
                    Welcome, Registration is successful, Please Login <a
                        routerLink="/auth/sign-in"><u>here</u></a>
                </div>
            </div>
        </div>
        
    </div>
</div>